body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #020617;
  color: white;
}

.app {
  text-align: center;
  padding: 20px;
}

h1 {
  margin-bottom: 20px;
}

/* Input */
.input-box input {
  padding: 10px;
  width: 220px;
  border-radius: 5px;
  border: none;
}

.input-box button {
  padding: 10px 15px;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  background: #3b82f6;
  color: white;
  cursor: pointer;
}

/* Board */
.board {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
  flex-wrap: wrap;
}

/* Column */
.column {
  background: #1e293b;
  padding: 15px;
  border-radius: 10px;
  width: 260px;
}

/* Task */
.task {
  background: #334155;
  margin: 10px 0;
  padding: 10px;
  border-radius: 8px;
  text-align: left;
}

/* Buttons */
.actions button {
  margin: 5px 3px;
  border: none;
  padding: 5px 8px;
  border-radius: 5px;
  cursor: pointer;
}

.task {
  background: #334155;
  margin: 10px 0;
  padding: 10px;
  border-radius: 8px;
  cursor: grab;
  display: flex;
  justify-content: space-between;
}

.task:active {
  cursor: grabbing;
}
